*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.buttons{
	width:100%;
	height: 100px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

button{
	width: 80px;: center;
	font-family: 'verdana', sans-serif;
	height: 60px;
	position: relative;
	font-size: 25px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	transition: all 100ms linear;
	color: white;
	border: none;
	right: 0px;
	top: 0px;
	box-shadow: 0 6px #999;
}

button:active {

	box-shadow: 0 3px #666;
	transform: translateY(4px);
}

button:not(:hover){
	background-color: lightblue;
}

button:hover {
	background-color: orange;
}

.video{
	width:90%;
	height: 200px;
	margin: 0 5%;
	background-color: lightgreen;
	text-align: center;
	 vertical-align: middle;
}

.movement_buttons{
	width:90%;
	height: 400px;
	margin: 0 5%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.left_movement_buttons{
	width: 200px;
	height: 200px;
}

.center_movement_buttons{
	width: 200px;
}

.right_movement_buttons{
	width: 200px;
}

.m_button{
	width: 60px;
	height: 60px;
	align-self: center;
}

.right{
	margin-left: 70px;
}

.top{
 margin: 0px 70px 10px;
}

.bottom{
	margin: 10px 70px 0px;
}
